# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environments
venv/
env/
.venv/
.env/

# IDE files
.vscode/
.idea/
*.swp

# macOS
.DS_Store

# Data and Indices
data/
*.sqlite
*.faiss
out.json
*.json

# Ignore the user images but keep the folder
images/*
!images/.gitkeep

# Models downloaded automatically
.insightface/
